.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-_sprite{
	font-size: calc(0 / 10 * 1em);
	width: calc(0 / 0 * 1em);
}
.icon-accessible_24px_outlined{
	font-size: calc(32 / 10 * 1em);
	width: calc(32 / 32 * 1em);
}
.icon-arrow{
	font-size: calc(26 / 10 * 1em);
	width: calc(36 / 26 * 1em);
}
.icon-arrow-down{
	font-size: calc(42 / 10 * 1em);
	width: calc(42 / 42 * 1em);
}
.icon-arrow-left{
	font-size: calc(17 / 10 * 1em);
	width: calc(16 / 17 * 1em);
}
.icon-arrow_drop_down_24px{
	font-size: calc(6 / 10 * 1em);
	width: calc(10 / 6 * 1em);
}
.icon-burger{
	font-size: calc(40 / 10 * 1em);
	width: calc(40 / 40 * 1em);
}
.icon-bus{
	font-size: calc(19 / 10 * 1em);
	width: calc(16 / 19 * 1em);
}
.icon-calendar{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-close{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-ear-svgrepo-com_2{
	font-size: calc(32 / 10 * 1em);
	width: calc(32 / 32 * 1em);
}
.icon-facebook{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-info{
	font-size: calc(20 / 10 * 1em);
	width: calc(20 / 20 * 1em);
}
.icon-infoteh{
	font-size: calc(24 / 10 * 1em);
	width: calc(123 / 24 * 1em);
}
.icon-linkedin{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-marker{
	font-size: calc(23 / 10 * 1em);
	width: calc(18 / 23 * 1em);
}
.icon-mastercard-svgrepo-com{
	font-size: calc(50 / 10 * 1em);
	width: calc(50 / 50 * 1em);
}
.icon-pdf{
	font-size: calc(14 / 10 * 1em);
	width: calc(12 / 14 * 1em);
}
.icon-shoping{
	font-size: calc(34 / 10 * 1em);
	width: calc(34 / 34 * 1em);
}
.icon-sphere{
	font-size: calc(80 / 10 * 1em);
	width: calc(80 / 80 * 1em);
}
.icon-telegram{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-time{
	font-size: calc(22 / 10 * 1em);
	width: calc(22 / 22 * 1em);
}
.icon-tram{
	font-size: calc(20 / 10 * 1em);
	width: calc(14 / 20 * 1em);
}
.icon-trolley{
	font-size: calc(19 / 10 * 1em);
	width: calc(16 / 19 * 1em);
}
.icon-twitter{
	font-size: calc(20 / 10 * 1em);
	width: calc(24 / 20 * 1em);
}
.icon-viber{
	font-size: calc(24 / 10 * 1em);
	width: calc(22 / 24 * 1em);
}
.icon-visa-svgrepo-com{
	font-size: calc(50 / 10 * 1em);
	width: calc(50 / 50 * 1em);
}
.icon-visibility_24px{
	font-size: calc(20 / 10 * 1em);
	width: calc(30 / 20 * 1em);
}
.icon-volume_up_24px_outlined{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-youtube{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}

