.side-block
    z-index: 999
    position: absolute
    top: 0
    bottom: 0
    right: 0
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100px
    margin-left: auto
    border-left: 2px solid currentColor
    background-color: $mainColor
    &--fixed
        position: fixed
    &--white
        background-color: $blackColor
        color: $whiteColor

    &__button
        position: sticky
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        aspect-ratio: 1
        background-color: transparent
        color: inherit
        &.is-visible
            display: flex
            opacity: 0
            animation: fide .3s ease both
            @keyframes fide
                to
                    opacity: 1
        &--menu
            top: 0
            border-bottom: 2px solid

        &--scroll-top
            bottom: 0
            display: none
            border-top: 2px solid

        svg,
        svg > *
            fill: currentColor

    &__arrow
        transform: rotate(-90deg)
