
.button
    $this: &
    $color: $blackColor
    +bounce-to-right
    position: relative
    display: inline-flex
    justify-content: center
    align-items: center
    min-width: 216px
    height: 80px
    padding-top: 30px
    padding-bottom: 30px

    color: #fff
    background-color: $color
    border: none
    text-transform: uppercase

    &:disabled
        background-color: $lightGrayColor
        cursor: default

        &::before
            background-color: transparent

    &:not(:disabled):hover
        color: $color
        &::before
            background-color: #fff
        &::after
            border-color: currentColor
            +tr(border-color .5s cubic-bezier(0.52, 1.64, 0.37, 0.66))

    &::before
        background-color: $color

    &::after
        content: ''
        position: absolute
        z-index: -1
        inset: 0
        border: 6px solid transparent

    &--accent:not(:disabled)
        $color: $accentColor
        background-color: $color

        &:not(#{$this}--text-accent):hover
            color: $color

        &:hover
            &::before
                background-color: #fff
            &::after
                +tr(border-color .5s cubic-bezier(0.52, 1.64, 0.37, 0.66))
                border-color: currentColor

        &::before
            background-color: $color

    &--outlined:not(:disabled)
        $color: $blackColor
        justify-content: center
        color: $color

        &::after
            border-width: 10px
            border-color: $color

        &:hover
            &::after
                border-color: $color!important

    &--text-black:not(:disabled)
        color: $blackColor

    &--text-accent:not(:disabled)
        color: $accentColor

    &--text-white:not(:disabled)
        color: #fff

    &--full-width
        width: 100%

    &__text
        display: inherit
        align-items: inherit
        padding-left: 24px
        padding-right: 19px
        margin-left: auto
        margin-right: auto
        font-size: 1.13rem
        line-height: 1.5

    &__line
        width: 70px
        height: 2px
        margin-left: initial
        border: none
        background-color: currentColor

    svg
        margin-left: 16px
        *
            fill: currentColor
